/* 头 */
.content {
    width: 1003px;
    margin: 0 auto;
}

.reg-top {
    margin-top: 30px;
}

.reg-top img:nth-child(2) {
    float: right;
    margin-top: 18px;
}

/* 中部 */
.login-box-right {
    background: url(../img/login_icon_list.png) 0px -115px no-repeat;
}

.clearfix::after {
    clear: both;
    content: '';
    display: block;
    overflow: hidden;
    visibility: hidden;
    height: 0;
}

.login-box-left {
    float: left;
    width: 600px;
    text-align: center;
    padding-top: 23px;
}

.login-box-right {
    padding: 0 33px;
    float: left;
    width: 367px;
    height: 570px;
    /* border: 1px solid rosybrown; */
    box-sizing: border-box;
    margin-top: 40px;
    margin-left: 20px;
}

.reg-box-right-1 {
    padding-bottom: 60px;
}

.reg-box-right-1 span {
    font-size: 22px;
    height: 38px;
    line-height: 38px;
    font-weight: bold;
    float: left;
    color: #F11D20;
}

.reg-box-right-2 {
    font-size: 12px;
    color: #8c8c8c;
    line-height: 38px;
}

.reg-box-right-2 a {
    color: #c41f3a;
    font-size: 12px;
}

.reg-box-right-2 {
    float: right;
}

.s_radio {
    font-size: 12px;
    padding-right: 45px;
}

/* 手机号和短信验证 */
.item1 {
    margin-top: 10px;
}

.item1 input {
    color: #333333;
    border: 1px solid #c8c8c8;
    height: 25px;
    line-height: 25px;
    padding-left: 6px;
    width: 293px;
    font-size: 12px;
    padding: 7px 0 7px 6px;
}

.err-box {
    height: 23px;
    line-height: 23px;
    margin-bottom: 3px;
    color: #8c8c8c;
    font-size: 12px;
}

.item input {
    color: #333333;
    border: 1px solid #c8c8c8;
    height: 25px;
    line-height: 25px;
    padding-left: 6px;
    width: 157px;
    font-size: 12px;
    padding: 7px 0 7px 6px;
}

.item2 a {
    margin-left: 10px;
    color: #444444;
    font-family: "宋体";
    font-weight: bold;
    font-size: 12px;
    /* display: block; */
    /* text-align: center; */
    text-align: center;
    /* outline: 0; */
    display: inline-block;
    /* display: inline; */
    zoom: 1;
    background-color: #f6f6f6;
    border: 1px solid #c8c8c8;
    width: 117px;
    height: 38px;
    line-height: 38px;
    /* vertical-align: top; */
}

.item2 img {
    width: 78px;
    height: 38px;
}

.item2-2 a {
    color: #c41f3a;
    font-size: 12px;
    text-decoration: none;
    font-family: "宋体";
}

.item5 .login-btn a {
    display: block;
    width: 310px;
    height: 40px;
    color: #fff;
    line-height: 40px;
    background: #F11D20;
    text-align: center;
    font-size: 14px;
    font-family: "宋体";
    font-weight: bold;
}

.item5 input {
    width: 12px;

}
.item5 label{
    font-size: 12px;
}
.item5 label span a{
    color: #8c8c8c;
    margin-left: 150px;
}
.err-msg1 {
    display: none;
}

.err-msg1-warm {
    color: red;
    display: none;
}

.err-msg1-none {
    color: red;
    display: none;
}

.err-msg2 {
    display: none;
}

.err-msg2-warm {
    color: red;
    display: none;
}

.err-msg2-none {
    color: red;
    display: none;
}

/* 其他登录方式 */
.coagent {
    font-size: 12px;
    margin-top: 20px;
}

.coagent li {
    float: left;
    margin-right: 15px;
    margin-top: 10px;
}

/* 底部 */
.footer_bottom p {
    padding-top: 10px;
    text-align: center;
    font-family: "宋体";
    color: #7e7e7e;
    line-height: 25px;
    font-size: 12px;
}

.font_arial {
    font-family: Arial;
    color: #666666;
    vertical-align: baseline;
    font-size: 12px;
}

.footer_bottom .footer_p {
    padding: 30px 0 40px 0px
}